docRoot                   $VH_ROOT/public/{{ env('SRV_DOCROOT', '') }}

errorlog $VH_ROOT/logs/error.log {
  useServer               0
  logLevel                ERROR
  rollingSize             10M
  keepDays                7
}

accesslog $VH_ROOT/logs/access.log {
  useServer               0
  logHeaders              0
  rollingSize             10M
  keepDays                7
}

rewrite  {
  enable                  1
  autoLoadHtaccess        1
}

context /-/ping/ {
    location              /etc/runtime/ping/
    allowBrowse           1
    rewrite  {
      enable              1
      inherit             0
    }
}
