docRoot                   $VH_ROOT/public/{{ env('SRV_DOCROOT', '') }}

rewrite  {
  enable                  1
  autoLoadHtaccess        1
}

context /-/ping/ {
    location              /etc/runtime/ping/
    allowBrowse           1
    rewrite  {
      enable              1
      inherit             0
    }
}
